/* 
=======================================================================
***********************************************************************
Author : Shivani Kolanu & Bilvani Veparala
Assignment : Project 2 - Who wants to be a Millionaire
Course : Web Programming
Assignment Description : Creating a game called Who wants to be a Millionaire which is a kind of quiz game.
Filename : congrats_style.css
************************************************************************
========================================================================  */

body{
    background-image: url('img/game.jpeg');
    background-repeat: no-repeat;
    background-size: 100%;
    resize: none;
    color: white;
    font-size: x-large;
}

.won{
    border:2px solid white;
    background-color: purple;
    border-radius: 5px;
    padding:5px;
    width: 30%;
    margin-left: 35%;
    margin-top: 15%;
    text-align: center;
}

a {
    text-decoration: none;
    border:2px solid white;
    border-radius: 5px;
    padding:5px;
    background-color: white;
    color:black;

}